body{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right,#7E0F4B, #1A5865);
}
.container{
    background-color:white;
    width:50%;
    margin:auto;
    margin-top: 100px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
    justify-content:center;
    align-items:center;
}
#increment-btn{
    display: block;
    background-color: #9a0e0e;
    color:#fff;
    border-radius: 5px;
    border:none;
    font-size: 150%;
    width:50%;
    padding: 10px;
    margin:10px auto 10px auto;
    box-shadow: 2px 2px 1px black;
    font-family:  Trebuchet MS;
}
#increment-btn:hover{
    background-color:firebrick;
    transform: translateY(2px);
    transition: 0.3s transform;
}

#save-btn{
    display: block;
    background-color: #4db710;
    color:#fff;
    border-radius: 5px;
    border:none;
    font-size: 150%;
    padding: 10px;
    width:50%;
    margin:10px auto 10px auto;
    box-shadow: 2px 2px 1px black;
    font-family:  Trebuchet MS;
}
#save-btn:hover{
    background-color:limegreen;
    transform: translateY(2px);
    transition: 0.3s transform;
}
h1{
    font-size:50px;
    text-align:center;
    
}

h2{
font-weight: 600;
font-size: 400%;
text-align:center;
}

p{
font-size: 200%;
padding:10px;
font-weight: 600;
}